# Miscellaneous
*.class
*.log
*.swp
.DS_Store
.atom/
.vscode/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
build
.gradle
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
out
.directory
node_modules
local.properties

.externalNativeBuild
.database