name: Konnection library

# Controls when the action will run. Triggers the workflow on push or pull request 
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: macOS-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v4

    #- name: Install gpg
    #  run: brew install gnupg

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    #- name: Select Xcode
    #  run: sudo xcode-select -switch /Applications/Xcode_11.3.app

    - name: Xcode Version
      run: /usr/bin/xcodebuild -version

    - name: Build Library
      run: ./gradlew konnection:build

    - name: Assemble XCFramework
      run: ./gradlew konnection-swift:assembleKonnectionReleaseXCFramework

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: ./

  sample-android:
    runs-on: macOS-latest
    needs: build

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}

    - name: Validate Artifacts
      run: |
        ls -al ${{ github.workspace }}
        chmod -R 777 ${{ github.workspace }}
        ls -al ${{ github.workspace }}

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Build Sample App
      run: ./gradlew samples:android:build

  sample-ios:
    runs-on: macOS-latest
    needs: build

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}

    - name: Validate Artifacts
      run: |
        ls -al ${{ github.workspace }}
        chmod -R 777 ${{ github.workspace }}
        ls -al ${{ github.workspace }}

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    #- name: Select Xcode
    #  run: sudo xcode-select -switch /Applications/Xcode_11.3.app

    - name: Xcode Version
      run: xcodebuild -version

    - name: Build Sample App
      run: ./gradlew samples:ios:build

  sample-desktop:
    runs-on: macOS-latest
    needs: build

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}

    - name: Validate Artifacts
      run: |
        ls -al ${{ github.workspace }}
        chmod -R 777 ${{ github.workspace }}
        ls -al ${{ github.workspace }}

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    - name: Build Sample App
      run: ./gradlew samples:desktop:build

  sample-ios-spm:
    runs-on: macOS-latest
    needs: build

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}

    - name: Validate Artifacts
      run: |
        ls -al ${{ github.workspace }}
        chmod -R 777 ${{ github.workspace }}
        ls -al ${{ github.workspace }}

    - name: Setup JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'adopt'
        java-version: 17

    #- name: Select Xcode
    #  run: sudo xcode-select -switch /Applications/Xcode_11.3.app

    - name: Xcode Version
      run: xcodebuild -version

    - name: Build Sample App
      run: |
        xcodebuild -project samples/ios-spm/Konnection-SPM-Sample.xcodeproj \
          -destination generic/platform=iOS \
          -configuration "Debug" build \
          CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

  publish:
    runs-on: macOS-latest
    needs: [sample-android, sample-ios, sample-desktop, sample-ios-spm]

    steps:
    - name: Download Artifacts
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{ github.workspace }}

    - name: Validate Artifacts
      run: |
        ls -al ${{ github.workspace }}
        chmod -R 777 ${{ github.workspace }}
        ls -al ${{ github.workspace }}

    - name: publish on Maven
      env:
        SONATYPE_USER: ${{ secrets.SONATYPE_USER }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        SIGN_KEY_ID: ${{ secrets.SIGN_KEY_ID }}
        SIGN_KEY_PASSPHRASE: ${{ secrets.SIGN_KEY_PASSPHRASE }}
        SIGN_KEY_PRIVATE: ${{ secrets.SIGN_KEY_PRIVATE }}
      run: ./gradlew konnection:publish

